<div class="no-head-carousel clearfix">
  <div class="container">
    <h3>
      <%= link_to "Index", admin_items_path %> >> 
      <%= @klass.to_s %>
    </h3>
    <%= render :partial => "form", :locals => {:url => admin_items_path(:item_type => params[:item_type])} %>
  </div>
</div>
