<div class="login-with-oauth-container">
  <div class="control-group">
    <%= t("signup.oauth.hint") %>
  </div>
  <div>
    <%= link_to image_tag("sina30.png"), sina_connect_path %>
  </div>
</div>
