<div class="modal hide" id="pay-confirm-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= t("payment.pay_popup_title") %></h3>
  </div>

  <div class="modal-body">
    <div> <%= t("payment.pay_confirm_message") %> </div>
  </div>

  <div class="modal-footer">
    <%= link_to t("payment.pay_succeed"), {:controller => 'payment', :action => 'success'} , { :id => "pay-succeed", :class => "blue-button small-button" } %>
    <%= link_to t("payment.pay_failed"), {:controller => 'payment', :action => 'fail'},  { :id => "pay-failed", :class => "green-button small-button" } %>
  </div>
</div>
