<div class='user-thumb-photo float-left'>
  <%= image_tag payment.user.thumbnail_url, :title => payment.user.name, :alt => payment.user.name %>
</div>
<div class='user-thumb-text float-left'>
  <%= content_tag :div, payment.user.name %>
  <div>
    <span><%= t("projects.section.donated_amount_label") %></span>
    <span><%= t("projects.section.donated_amount", 
                :amount => number_with_delimiter(payment.amount, :delimiter => ',')) %></span>
  </div>
</div>
<div class="clearfix"></div>

