<div id="head-carousel" class="carousel head-carousel">
  <!-- Carousel Items -->
  <div class="carousel-inner">
    <%= image_tag @project.thumbnail_large %>
    <div class="carousel-description">
      <div>
        <a href='javascript:void(0)'>
          <img src='donate' />
        </a>
        <a href='javascript:void(0)'>
          <img src='follow' />
        </a>
      </div>
    </div>
  </div>
  <div class='detail'>
    <h1> <%= @project.headline %> </h1>
    <div class='description'> <%= @project.description %> </div>
  </div>

  <div class='comments'>

  </div>
</div>

