<div class="modal pay-hint-modal hide" id="pay-hint-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= t("donation.pay_hint_title") %></h3>
  </div>

  <div class="modal-body">
    <div id='hint' class='hint'>
      <%= t("donation.pay_notice").html_safe %>
    </div>
  </div>
</div>
