<div class="modal pay-confirm-modal hide" id="pay-confirm-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>

  <div class="modal-body">
    <div class='info'>
      <%= t("donation.pay_confirm_info").html_safe %>
    </div>
    <div class='notice'>
      <%= t("donation.pay_confirm_notice").html_safe %>
    </div>
    <div class="buttons">
      <%= link_to t("donation.pay_succeed"), {:controller => 'donation', :action => 'success'} , { :id => "pay-succeed", :class => "blue-button small-button" } %>
      <%= link_to t("donation.pay_failed"), '#', { :id => "pay-failed", :class => "blue-button small-button" } %>
    </div>
  </div>

</div>
