<html>
  <head>
  </head>
  <body>
    <%= form_tag(@pay.host, :method => :get, :authenticity_token => false, :id => 'pay-form') do %>
      <% @pay.fields.each_pair do |k, v| %>
        <%= hidden_field_tag k, v %>
      <% end %>
    <% end %>
    <script>
      var payForm = document.getElementById('pay-form');
      payForm.removeChild(payForm.firstChild);
      payForm.submit();
    </script>
  </body>
</html>
