<div class="aboutus container no-head-carousel static-page">
  <div class="section">
    <h1>关于我们</h1>
    <%= image_tag "/images/about/about-us.jpg", :alt => "" %>
  </div>

  <div class="section">
    <h1>运营模式</h1>
    <%= image_tag "/images/about/about-mode.jpg", :alt => "" %>
  </div>

  <div class="section">
    <h1>捐助流程</h1>
    <%= image_tag "/images/about/about-howto.jpg", :alt => "" %>
  </div>

  <div class="aboutus-signup-container anonymous">
    <%= link_to "马上加入", signup_path, :class => "button blue-button" %>
  </div>
</div>
