<div class="aboutus container no-head-carousel static-page">
  <h1>关于我们</h1>
  <%= image_tag "/images/about.jpg", :alt => "" %>
  <div class="container">
    <div class="aboutus-signup-container anonymous">
      <%= link_to "马上加入", signup_path, :class => "button blue-button" %>
    </div>
  </div>
</div>
