<div class="aboutus static-page">
  <div id="head-carousel" class="carousel slide head-carousel">
    <div class="carousel-inner">
      <div class="item active">
      </div>
    </div>
  </div>
</div>
