<div class="aboutus static-page">
  <div id="head-about-carousel" class="carousel slide about-carousel" data-interval=false >
    <div class="carousel-inner">
      <% 1.upto(5) do |i| %>
        <div class="item <%= i == 1 ? 'active' : '' %>" id="<%= 'about-item-%d' % i %>">
          <%= image_tag "/images/about/slide%d.jpg" % i %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="nav-wrapper">
    <div class="nav-container" id="about-carousel-navs">
      <a href="#" rel="tooltip" title="上一页" id="prev" class="prev with-tooltip" data-target="#head-about-carousel" data-slide="prev"><div class="control"></div></a>
      <a href="#" rel="tooltip" title="下一页" id="next" class="next with-tooltip" data-target="#head-about-carousel" data-slide="next"><div class="control"></div></a>
    </div>
  </div>
  <div class="modal hide fade" id="cunxin-weixin-larger-container">
    <%= image_tag "cunxin-weixin-barcode-large.jpg" %>
    <div class="close-button" data-dismiss="modal"></div>
  </div>
</div>

<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
