<div class="contact container no-head-carousel static-page">
<h1>联系我们</h1>

<div class="section">
<h2>官方微博</h2>
<div>
<p>ID: 寸心技术</p>
<div id="contact-cunxin-follow"></div>
</div>
</div>

<div class="section">
<h2>官方微信</h2>
</div>

<div class="section">
<h2>邮箱</h2>
<div>
help@cunxin.org
</div>
</div>
</div>

<div class="section">
</div>

<script src=" http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=<%= WeiboOAuth2::Config.api_key %>" type="text/javascript" charset="utf-8"></script>
<%= javascript_tag do %>
WB2.anyWhere(function(W){
    W.widget.followButton({
        'id': "contact-cunxin-follow",
        'nick_name': '寸心技术'
    });
});
<% end %>
