<div class="faq container no-head-carousel static-page">
<h1>常见问题</h1>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a1">
1. 寸心是一个什么样的机构？
</div>
<div class="answer collapse" id="a1">
寸心网是一个专业的公益网络募捐平台，是服务于公益组织和爱心人士的，致力于推动中国微公益事业的专业机构。寸心专注于：帮助公益组织和需救助人群在网上进行募捐；帮助爱心人士借助互联网更精准更高效地奉献爱心。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a2">
2.  寸心的愿景和使命是什么？
</div>
<div class="answer collapse" id="a2">
<p>
寸心的愿景是：如果，在这片土地上，每一个生命都受到尊重，每一份爱心都不被挥霍，公益变成每个人生活的一部分、每个人引以为豪的事情，那么，寸心就实现了它的价值。
</p>
<p>
寸心的使命是：以社会责任为己任，一个给无数人命运带来希望的平台，一个中国公益领域变革的声音！
</p>
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a3">
3.  寸心的取名有何含义？
</div>
<div class="answer collapse" id="a3">
寸心取意于成语“聊表寸心”，即“微小的心意”，代表寸心从事的微公益事业。“谁言寸草心，报得三春晖”，寸心希望以自己的行动，带动更多的人参与到中国的公益事业中。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a4">
4.  寸心的Logo有何含义？
</div>
<div class="answer collapse" id="a4">
寸心logo中的四颗类似四叶草的心代表汇集于四面八方的爱，第五颗镂空的心等待您来填满。同时，logo中间的一横一竖和第五颗心又组成了一个“寸”字。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a5">
5.  寸心的Slogan是什么？有何含义？
</div>
<div class="answer collapse" id="a5">
<p>寸心的Slogan是“爱，从不渺小！”，英文是“Love is never tiny!”。</p>
<p>寸心相信，网友在寸心网上捐助的每一分钱、献出的每一份爱心，从来都不会显得渺小，反而在点滴之中彰显大爱。</p>
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a6">
6.如果募捐时间截止了，但是善款进度只完成了一半，那么这些已募得的善款会交到求助者手上吗？
</div>
<div class="answer collapse" id="a6">
同样会全额交到求助者手中，即使没有达到预期的捐款目标，但是已经募捐到的资金同样可以为求助者带来一些帮助。若退回到捐助人账号，我们无法确认该退回哪些账号，可能就会导致善款没有及时利用到实处。所以我们依旧会将已经募捐到的善款交到求助者手中。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a7">
7. 寸心网募集到的资金将通过什么方式到达求助者？
</div>
<div class="answer collapse" id="a7">
募集到的资金将交付至与寸心合作、发起该项目的公益组织，然后再由他们投递到求助者手中。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a8">
8.  捐款完毕后我可以了解到求助者的后续情况及捐款的使用情况吗？
</div>
<div class="answer collapse" id="a8">
寸心会通过email向您发送项目反馈报告让您了解到求助者的后续情况及捐款的使用情况。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a9">
9. 在寸心网捐款是匿名的吗？
</div>
<div class="answer collapse" id="a9">
默认情况下，捐款上会显示您的用户名，当然您可以在捐款页面选择匿名捐款。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a10">
10.我能否通过寸心网为身边的朋友求助?
</div>
<div class="answer collapse" id="a10">
寸心网虽然是一个网络捐款平台，但是由于我们目前人力有限，无法对求助者的身份进行确认，请求助者直接与和我们合作的公益机构联系，通过公益机构审核后，再联系我们进行网络募捐。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a11">
11 为什么捐款后，捐款记录没有即时更新？
</div>
<div class="answer collapse" id="a11">
由于支付平台的通知信息可能比较晚，不能立刻体现在捐款记录上。不过请放心，我们会在收到转帐成功的通知后，更新您的捐款记录，通常延时会在几分钟之内。
</div>
</div>

</div>

