<div class="faq container no-head-carousel static-page">
<h1>常见问题</h1>

<h4>一、寸心介绍相关问题：</h4>
<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a1">
1. 寸心是一个什么样的机构？
</div>
<div class="answer collapse" id="a1">
寸心网是一个专业的公益网络募捐平台，是服务于公益组织和爱心人士的，致力于推动中国微公益事业的专业机构。寸心专注于：帮助公益组织和需救助人群在网上进行募捐；帮助爱心人士借助互联网更精准更高效地奉献爱心。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a2">
2.  寸心的愿景和使命是什么？
</div>
<div class="answer collapse" id="a2">
<p>
寸心的愿景是：如果，在这片土地上，每一个生命都受到尊重，每一份爱心都不被挥霍，公益变成每个人生活的一部分、每个人引以为豪的事情，那么，寸心就实现了它的价值。
</p>
<p>
寸心的使命是：以社会责任为己任，一个给无数人命运带来希望的平台，一个中国公益领域变革的声音！
</p>
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a3">
3.  寸心的取名有何含义？
</div>
<div class="answer collapse" id="a3">
寸心取意于成语“聊表寸心”，即“微小的心意”，代表寸心从事的微公益事业。“谁言寸草心，报得三春晖”，寸心希望以自己的行动，带动更多的人参与到中国的公益事业中。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a4">
4.  寸心的Logo有何含义？
</div>
<div class="answer collapse" id="a4">
寸心logo中的四颗类似四叶草的心代表汇集于四面八方的爱，第五颗镂空的心等待您来填满。同时，logo中间的一横一竖和第五颗心又组成了一个“寸”字。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a5">
5.  寸心的Slogan是什么？有何含义？
</div>
<div class="answer collapse" id="a5">
<p>寸心的Slogan是“爱，从不渺小！”，英文是“Love is never tiny!”。</p>
<p>寸心相信，网友在寸心网上捐助的每一分钱、献出的每一份爱心，从来都不会显得渺小，反而在点滴之中彰显大爱。</p>
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a6">
6.  与其他同类型网站相比，寸心网最大的不同是什么？
</div>
<div class="answer collapse" id="a6">
<p>
<span style="text-decoration: underline;">资金用途明确：</span>寸心所有的募捐项目都由合作公益组织发起，所有募集款项进入公益组织账户后，将只能用于该项目所列示的用途。
</p>
<p><span style="text-decoration: underline;">强调反馈报告：</span>寸心十分重视募集款项使用的公开透明，因此每一个募捐项目均有详细的项目反馈报告，记录捐款使用明细、受助人情况、捐款统计分布等信息。项目反馈报告将在寸心网上发布，并通过寸心新浪微博、寸心官方微信和捐助用户注册邮箱进行同步推送。
</p>
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a7">
7.  寸心向公益组织和捐款人收取手续费吗？
</div>
<div class="answer collapse" id="a7">
零手续费！寸心网承诺：绝不向公益组织和捐款人收取一分钱的手续费。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a8">
8.  寸心如何维持自身运营？
</div>
<div class="answer collapse" id="a8">
<p>
寸心网将主要依赖爱心企业和个人的资助维持日常运营。
</p>
<p>寸心作为一个不以营利为目的的公益募捐平台，其建立的初衷是为了帮助中国尽可能多的公益组织筹集到善款。我们希望，寸心的存在能够帮助更多的公益组织存在，寸心的发展能够帮助更多的公益组织发展。
</p>
<p>如果您也认同寸心的理念，并希望给予寸心资助，欢迎跟我们联系：<a href="mailto: contact@cunxin.org">contact@cunxin.org</a>。 
</p>
</div>
</div>

<h4>二、捐助相关问题：</h4>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a9">
9.  捐款必须要先注册和登录吗？可否用新浪微博等第三方账号登录？
</div>
<div class="answer collapse" id="a9">
<p>
是的。为了便于我们记录您的捐款信息，并向您发送项目反馈报告，我们需要您在捐款前拥有一个寸心账号，并登录后进行捐款。</p>
<p>寸心网支持用户用新浪微博账户登录，未来我们将陆续支持其他第三方账号登录。
</p>
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a10">
10. 我需要填写账户设置中的真实姓名、手机、地址等信息吗？
</div>
<div class="answer collapse" id="a10">
我们鼓励您填写这些真实信息，以便未来我们向您寄送小礼品等用途。请放心，寸心网将严格保密您的信息。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a11">
11.  我关注的项目和我捐助的项目在哪里可以查询到？
</div>
<div class="answer collapse" id="a11">
点击网站右上角您的头像即可进入关注项目和捐助项目页面。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a12">
12.  目前谁可以发起募捐项目？如何发起募捐项目？
</div>
<div class="answer collapse" id="a12">
<p>目前，只有跟寸心网建立了合作关系的公益组织可以发起募捐项目。合作公益组织向寸心网提交拟募捐项目，审核通过后即可在寸心网上发布。</p><p>如果您是公益组织的负责人，有意与寸心网合作，欢迎跟我们联系：<a href="mailto: contact@cunxin.org">contact@cunxin.org</a>。 </p>
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a13">
13.  寸心如何保证募捐项目的真实性？受助对象的信息是否进行了核实？
</div>
<div class="answer collapse" id="a13">
首先，有资格发起募捐项目的公益组织均与寸心建立了合作关系，寸心对该公益组织的背景、资质、声誉、项目执行能力等各方面进行了严格的筛选。其次，所有受助对象的信息都将进行发起公益组织和寸心网两层核实，保证项目的真实性。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a14">
14.  单笔捐款有下限和上限吗？
</div>
<div class="answer collapse" id="a14">
单笔捐款的下限为一元，上限为该项目的目标募捐金额。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a15">
15.  捐款是进入了寸心的账户？还是公益组织的账户？还是受助对象的账户？
</div>
<div class="answer collapse" id="a15">
所有捐款都将进入公益组织的支付宝账户，公益组织将支取募集款项直接用于受助对象。寸心网在整个募捐流程中将不碰一分钱。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a16">
16.  寸心如何保证募集款项都用到受助对象身上？有何监督机制？
</div>
<div class="answer collapse" id="a16">
寸心团队将与执行公益组织共同参与项目的执行，并将向执行公益组织索取相关资金使用凭证，以确保募集款项都用到受助对象身上。同时，寸心将在项目反馈报告中详细披露募集款项的使用情况，供网友监督。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a17">
17.  捐款完成后我如何了解捐款的使用情况？有无任何反馈报告？
</div>
<div class="answer collapse" id="a17">
<p>
寸心每一个募捐项目均有详细的项目反馈报告，记录捐款使用明细、受助人情况、捐款统计分布等信息。项目反馈报告将在寸心网上发布，并通过寸心新浪微博、寸心官方微信和捐助用户注册邮箱进行同步推送。
</p>
<p>为了让您及时的了解捐款完成后的反馈情况，欢迎您关注我们的新浪微博“寸心网”和我们的官方微信“cunxin_cn”。
</p>
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a18">
18.  目前寸心网支持哪些支付渠道？
</div>
<div class="answer collapse" id="a18">
目前，寸心网暂时仅支持通过支付宝进行支付，以及通过支付宝集成的网银进行支付（即您必须先登录支付宝，再选择网银支付）。因此，我们建议您注册一个支付宝账户，以便在寸心上成功进行捐助。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a19">
19.  为何支付宝（或网上银行）已经扣款，但在捐款记录中查询不到？
</div>
<div class="answer collapse" id="a19">
可能由于银行的数据没有即时传输，请不要担心，稍后刷新页面查看即可。如较长时间仍显示未付款，请联系寸心客服(<a href="mailto:contact@cunxin.org">contact@cunxin.org</a>)为您解决。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a20">
20.  如果募捐额没有达到目标金额，已募集款项会交给受助对象吗？
</div>
<div class="answer collapse" id="a20">
当然。无论项目是否成功达到目标金额，已募集款项均已进入执行公益组织的支付宝账户，执行公益组织将把募捐到的款项全数交给受助对象。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a21">
21.  除了捐款外，我还能对募捐项目进行哪些支持？
</div>
<div class="answer collapse" id="a21">
<p>
您还可以关注我们的项目，点击捐助按钮旁的关注按钮即可。项目受关注人数越多，越容易引起更多人的关注。
</p>
<p>您还可以将该项目分享到新浪微博、人人网、豆瓣网、腾讯微博、QQ空间等其他社交平台，帮助该项目获得更多的曝光度，吸引更多的爱心网友前来捐款。
</p>
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a22">
22.  我能够评论或祝福募捐项目吗？
</div>
<div class="answer collapse" id="a22">
抱歉，我们目前暂时尚未开通项目评论功能。我们鼓励您将项目分享到新浪微博等社交平台，并@寸心网，写下您的评论和祝福。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a23">
23.  寸心网《使用条款》是怎样的？
</div>
<div class="answer collapse" id="a23">
欢迎点击查看寸心网<a href="/terms">使用条款</a>。
</div>
</div>

<h4>三、爱心积分相关问题：</h4>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a24">
24.  如何获得爱心积分？
</div>
<div class="answer collapse" id="a24">以下方式均可获得爱心积分：登录寸心网、支持项目、捐助项目。
</div>
</div>

<div class="qsection">
  <div class="question accordion-toggle" data-toggle="collapse" href="#a25">
    25.  爱心积分有什么作用？
</div>
<div class="answer collapse" id="a25">爱心积分是您奉献爱心的见证，积分高低也体现了您奉献爱心的程度。未来，寸心将推出爱心积分兑换功能，您可以用积分兑换心仪的商品或礼物。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a26">26.  爱心积分会清零吗？爱心积分有期限吗？
</div>
<div class="answer collapse" id="a26">不会清零。爱心积分和您的爱心一样，没有期限。
</div>
</div>

</div>

