<div class="faq container no-head-carousel static-page">
<h1>FAQ</h1>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a1">
1. 如何捐款？
</div>
<div class="answer collapse" id="a1">
您好，第一步：您先在寸心网站上注册一个用户名（ www. cunxin.org ），注册后登陆寸心。 第二步：点击您感兴趣的项目。 第三步：点击捐助按钮，选择好捐赠方式，输入你要捐赠的金额，捐赠成功之后您会收到网站提示。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a2">
2.对于单笔捐款金额有限制吗？
</div>
<div class="answer collapse" id="a2">
单笔捐款不超过10,000元
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a3">
3.寸心网支持哪几家网上银行进行支付？
</div>
<div class="answer collapse" id="a3">
支持大部分常见网银，具体请在支付页面进行选择。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a4">
4.通过寸心网捐款会有手续费吗？
</div>
<div class="answer collapse" id="a4">
寸心网保证无论您捐款数额多少，寸心网都不会收取任何费用。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a5">
5.发布在寸心网上的求助者的真实性核实了吗?
</div>
<div class="answer collapse" id="a5">
寸心网平台上已经发布的求助主题，都是经过我们合作的公益组织严格审核的。每一个主题都有介绍求助者的基本情况，并附上具体的照片。每个主题均有公布求助者的有效证件，根据不同的求助类型公布盖有当地政府、医院或学校红章的证明，并且提供求助者、证明人的家庭住址、联系方式以方便于广大爱心网友的监督。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a6">
6.如果募捐时间截止了，但是善款进度只完成了一半，那么这些已募得的善款会交到求助者手上吗？
</div>
<div class="answer collapse" id="a6">
同样会全额交到求助者手中，即使没有达到预期的捐款目标，但是已经募捐到的资金同样可以为求助者带来一些帮助。若退回到捐助人账号，我们无法确认该退回哪些账号，可能就会导致善款没有及时利用到实处。所以我们依旧会将已经募捐到的善款交到求助者手中。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a7">
7. 寸心网募集到的资金将通过什么方式到达求助者？
</div>
<div class="answer collapse" id="a7">
募集到的资金将交付至与寸心合作、发起该项目的公益组织，然后再由他们投递到求助者手中。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a8">
8.  捐款完毕后我可以了解到求助者的后续情况及捐款的使用情况吗？
</div>
<div class="answer collapse" id="a8">
寸心会通过email向您发送项目反馈报告让您了解到求助者的后续情况及捐款的使用情况。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a9">
9. 在寸心网捐款是匿名的吗？
</div>
<div class="answer collapse" id="a9">
默认情况下，捐款上会显示您的用户名，当然您可以在捐款页面选择匿名捐款。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a10">
10.我能否通过寸心网为身边的朋友求助?
</div>
<div class="answer collapse" id="a10">
寸心网虽然是一个网络捐款平台，但是由于我们目前人力有限，无法对求助者的身份进行确认，请求助者直接与和我们合作的公益机构联系，通过公益机构审核后，再联系我们进行网络募捐。
</div>
</div>

<div class="qsection">
<div class="question accordion-toggle" data-toggle="collapse" href="#a11">
11 为什么捐款后，捐款记录没有即时更新？
</div>
<div class="answer collapse" id="a11">
由于支付平台的通知信息可能比较晚，不能立刻体现在捐款记录上。不过请放心，我们会在收到转帐成功的通知后，更新您的捐款记录，通常延时会在几分钟之内。
</div>
</div>

</div>

