<div class="terms container no-head-carousel static-page">
<h1>寸心网服务条款</h1>

<p>寸心网网站及相关网页旨在为您提供资讯、服务和参考资料等。您可以使用该网站浏览资讯、下载资料、或使用该网站的其他功能。您在浏览寸心网网站时，须无条件遵守以下条款（即本“使用条款”）及其所适用的法律。寸心网可能随时对网页内容进行更新，并随时修改这些使用条款。您可以经常访问本网页以便了解最新修订的条款内容。
</p>

<h2>一、著作权声明</h2>
<div>
<p>1.除特别声明外，本网站的结构、网页设计、文字、图像和其它信息等所有内容，其著作权均属寸心网所有。任何他人或他方不得复制或在非寸心网网站所属的服务器上做镜像或者以其它方式进行非法使用。</p>
<p>2.对于本网站提供给客户下载的著作权属于寸心网的软件或文档，任何他人或他方只可以以本网站允许的方式下载或使用，不得超出允许范围进行复制和其它商业用途的使用。</p>
<p>3.对于非寸心网所有但本网站提供下载地址的软件或文档，本网站仅为方便您的使用而提供相关链接，使用者对该软件或文档的使用应遵守软件或文档的著作权所有者规定的使用条款。</p>
<p>4.本网站自主设计、编写、制作的内容和图像等的著作权权益均属于寸心网所有，他人或他方如需转载或以其它方式使用，必须取得寸心网的书面许可，并在使用时注明来源和版权系寸心网所有的标记。</p>
<p>5.对于任何违反国家有关法律法规，不尊重本使用条款，不经本网站同意，擅自使用本网站内容并不注明出处的行为，寸心网保留采取法律措施，追究其责任的权利。</p>
</div>

<h2>二、商标权声明</h2>
<div>
<p>1.“寸心”、“寸心logo”以及其它任何用来标识寸心网及相关业务的文字、图形及其它可视性标志，都是属于寸心网所有的标识。寸心网对上述标识享有标示性权益，受法律保护。他人或他方未经许可不得修改、复制或以其它方式使用上述标识。</p>
<p>2.任何试图淡化或丑化上述标识的行为都是违法的，寸心网保留追究其法律责任的权利。</p>
</div>

<h2>三、转载声明</h2>
<div>
<p>本网站部分内容由其它组织、机构或个人提供，这些内容的版权属于相应的提供者。本网站引用、摘录或转载来自第三方的内容仅供交流或参考，文中观点或信息与寸心网无关。</p>
</div>

<h2>四、链接政策</h2>
<div>
<p>1.从本网站链接至寸心网以外的网站：</p>
<p>某些情况下，本网站会提供跳转至国际互联网上的其它网站的链接。提供与这些网站的链接，目的在于帮助您收集相关信息并增加您使用互联网的便利。寸心网致力于挑选声誉良好的网站来源，以方便用户。</p>
<p>然而，除非寸心网已经明确声明与该网站有合作关系，否则提供链接至该网站，并不视为寸心网同意、推荐、认可、保证或推介在该网站上所提供的任何服务、产品，亦不可视为寸心网与该网站有任何形式的合作。</p>
<p>如果链接的网站含有可供下载的软件，则此链接仅为方便您的使用而设。若您在下载软件时遇到任何困难或问题、或因而造成任何影响，寸心网概不负责。请谨记，使用任何从国际互联网下载的软件可能受其版权条款的管制与约束，若您不遵守该版权条款，可能导致侵犯该软件版权所有者的知识产权，寸心网不承担任何责任。</p>
<p>当您按下某个链接，即会离开本网站并进入另一个网站，您必须遵守该网站的使用条款。</p>
<p>2.从本网站链接至其它业务网站：</p>
<p>本网站亦包含链接至其它业务网站，以方便您在特定地区或为特殊目的使用。该些网站所提供的产品和服务只提供给身处或居所属于该司法管辖地区的人士使用。寸心网网站某些网页或服务可能包括单独的使用条款，作为对本使用条款的补充，如果有任何冲突，该等单独的使用条款将对相关网页或服务适用。</p>
<p>3.从其他网站链接至本网站：</p>
<p>若您想在第三方的网站以任何形式建立链接至本网站，必须先取得寸心网的书面同意。寸心网有权决定是否核准建立此链接。一般而言，寸心网只会允许建立纯粹以寸心网名称显示的链接，在特殊情况下才会准予将寸心网的企业标志、商标用于或显示于链接，而使用寸心网的企业标志、企业名称或商标是否支付费用以及费用金额由寸心网全权决定。</p>
<p>对于任何第三方建立的、与寸心网网站的链接，并不代表它与寸心网之间有任何形式的合作、或已经得到寸心网的认可。因而，对于您或者任何第三方由于使用这种链接所可能招致的任何损失或伤害，寸心网一概不负任何责任。对于经由寸心网核准建立的链接，寸心网保留随时撤销核准的权利，并有权要求清除任何指向本网站的链接。</p>
<p>您通过其他网站的链接进入本网站可能存在登录假冒网站的风险，建议您采用较为安全的方式（如在浏览器地址栏直接键入寸心网网址）访问本网站。</p>
</div>

<h2>五、接受条款</h2>
<div>
<p>cunxin.org (下称"寸心网"或"我们")所提供的服务包含寸心网网站体验和使用、寸心网互联网消息传递服务以及寸心网提供的与寸心网网站有关的任何其他特色功能、内容或应用程序(合称"寸心网服务")。无论用户是以"访客"(表示用户只是浏览寸心网网站)还是"成员"(表示用户已在寸心网注册并登录)的身份使用寸心网服务，均表示该用户同意遵守本使用协议。</p>
<p>如果用户自愿成为寸心网成员并与其他成员交流(包括通过寸心网网站直接联系或通过寸心网各种服务而连接到的成员)，以及使用寸心网网站及其各种附加服务，请务必认真阅读本协议并在注册过程中表明同意接受本协议。本协议的内容包含寸心网关于接受寸心网服务和在寸心网网站上发布内容的规定、用户使用寸心网服务所享有的权利、承担的义务和对使用寸心网服务所受的限制、以及寸心网的隐私条款。如果用户选择使用某些寸心网服务，可能会收到要求其下载软件或内容的通知，和/或要求用户同意附加条款和条件的通知。除非用户选择使用的寸心网服务相关的附加条款和条件另有规定，附加的条款和条件都应被包含于本协议中。</p>
<p>寸心网有权随时修改本协议文本中的任何条款。一旦寸心网对本协议进行修改, 寸心网将会以公告形式发布通知。任何该等修改自发布之日起生效。如果用户在该等修改发布后继续使用寸心网服务，则表示该用户同意遵守对本协议所作出的该等修改。因此，请用户务必定期查阅本协议，以确保了解所有关于本协议的最新修改。如果用户不同意寸心网对本协议进行的修改，请用户离开寸心网网站并立即停止使用寸心网服务。同时，用户还应当删除个人档案并注销成员资格。</p>
</div>

<h2>六、遵守法律</h2>
<div>
<p>当使用寸心网服务时，用户同意遵守中华人民共和国(下称"中国")的相关法律法规，包括但不限于《中华人民共和国宪法》、《中华人民共和国合同法》、《中华人民共和国电信条例》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《中华人民共和国保守国家秘密法》、《全国人民代表大会常务委员会关于维护互联网安全的决定》、《中华人民共和国计算机信息系统安全保护条例》、《计算机信息网络国际联网安全保护管理办法》、《中华人民共和国著作权法》及其实施条例、《互联网著作权行政保护办法》等。用户只有在同意遵守所有相关法律法规和本协议时，才有权使用寸心网服务(无论用户是否有意访问或使用此服务)。请用户仔细阅读本协议并将其妥善保存。</p>
</div>

<h2>七、用户帐号、密码及安全</h2>
<div>
<p>当用户打算注册成为会员时，用户应提供及时、详尽、准确的个人资料，并不断及时更新注册时提供的个人资料，保持其详尽、准确。所有用户输入的资料将引用为注册资料。寸心网不对因用户提交的注册信息不真实或未及时准确变更信息而引起的问题、争议及其后果承担责任。</p>
<p>用户不应将其帐号、密码转让、出借或告知他人，供他人使用。如用户发现帐号遭他人非法使用，应立即通知寸心网。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用的，寸心网不承担任何责任。</p>
</div>

<h2>八、隐私权政策</h2>
<div>
<p>用户提供的注册信息及寸心网保留的用户所有资料将受到中国相关法律法规和寸心网《隐私权政策》的规范。《隐私权政策》构成本协议不可分割的一部分，具体内容如下：</p>
<p>  1、隐私权政策适用范围</p>
<p>  包括寸心网如何收集、处理、保护：</p>
<p>  (1)用户在登录本网站和服务器时留下的个人身份信息;</p>
<p>  (2)用户通过本网站和服务器与其他用户或非用户之间传送的各种资讯; </p>
<p>  (3) 寸心网与商业伙伴共享的其他用户或非用户的各种信息。</p>
<p>  2、信息和资讯收集和使用</p>
<p>  您提供的信息和资讯</p>
<p>  在您登记注册寸心网帐户，或使用该帐户，或参加其他寸心网及与之相关需要注册的服务或推广活动时，  我们会要求您提供个人信息(包括但不限于您的电子邮件地址、帐户密码以及昵称等)。这些信息会以加   密方式保存在安全的服务器上。我们会将从您的帐户下采集的个人信息和资讯与其他从寸心网服务中或   从第三方获得的信息和资讯进行整合，以便向您提供更好的用户体验和改善我们的服务质量。在某些服   务中，我们会给予提示，由您亲自决定是否参与上述信息和资讯的整合。</p>
<p>  饼干(cookie)</p>
<p>  当您访问寸心网时，我们会向您的电脑发送一个或多个饼干(cookie) - 包含有一串字符的小文件 - 它能  够对您的浏览器进行辨识。我们通过饼干技术来记录用户的使用偏好和习惯并跟踪用户倾向(诸如用户常  用的搜索方式等)，以具有针对性的改善我们的服务质量。大多数浏览器都能在默认设置的状态下接受c   ookie，但是您也可以重新设置浏览器来拒绝所有cookie，或者让浏览器在是否接受cookie时进行提示。  需要注意的是，如果您将浏览器设置为拒绝接受cookie，则一些寸心网的特色功能或服务可能会无法正  常运行。我们允许那些在寸心网网页上发布广告的公司在用户电脑上设定或取用Cookie。</p>
<p>  日志资讯</p>
<p>  当您使用寸心网的服务时，我们的主机会自动记录您的浏览器在访问网站时所发送的信息和资讯。主机   日志资讯包括但不限于您的网路请求、IP地址、浏览器类型、浏览器使用的语言、请求的日期和时间，  以及一个或多个可以对您的浏览器进行辨识的cookie。</p>
<p>  用户交流</p>
<p>  当您与寸心网通过电子邮件或其他方式进行交流时，我们可能会记录这些交流内容用以处理您的问题以   及改善我们的服务。</p>
<p>  寸心网仅对本隐私权政策和/或具体服务的隐私声明中允许的目的而对用户的个人信息和资讯进行处理。  除上述已列明部分外，这些目的还包括：向用户提供产品或服务，包括列明定制的内容和广告;审计、调  研和分析，以维持、保护和改善寸心网的服务;确保网站的技术运作;开发新服务;以及其他寸心网运营所   需要的目的。</p>
<p>  3、资讯公开与共享</p>
<p>  寸心网不会将您的个人信息和资讯故意透露、出租或出售给任何第三方。但以下情况除外：</p>
<p>  (1)用户本人同意与第三方共享信息和资讯;</p>
<p>  (2)只有透露用户的个人信息和资讯，才能提供用户所要求的某种产品和服务;</p>
<p>  (3)应代表寸心网提供产品或服务的主体的要求提供(除非我们另行通知，否则该等主体无权将相关用户个  人信息和资讯用于提供产品和服务之外的其他用途)：根据法律法规或行政命令的要求提供;因外部审计需  要而提供;用户违反了寸心网服务条款或任何其他产品及服务的使用规定;经寸心网评估，用户的帐户存在  风险，需要加以保护。</p>
<p>  4、编辑和删除个人帐户资料的权限</p>
<p>  您有权在任何时候编辑您在寸心网上的帐户信息和资讯，您也可以填写相关申请表格，要求删除个人帐   户，但是您无条件同意在您的帐户删除后，该帐户内及与该帐户相关的信息和资讯仍然保留在寸心网档   案记录中，除上述第三条规定的情况外，我们将为您保密。</p>
<p>  5、安全保障</p>
<p>  您的寸心网帐户具有密码保护功能，以确保您的隐私及信息和资讯安全。</p>
<p>  6、隐私权政策的修订</p>
<p>  寸心网会不时对隐私权政策进行修改。如有修改，我们会在修改后及时公告相关修改内容及新规定，以   便您知悉和使用。</p>
<p>  7、问题与建议</p>
<p>  如果您有任何问题和建议，请随时通知我们。</p>
</div>

<h2>九、上传内容</h2>
<div>
<p>
用户通过任何寸心网提供的服务上传、张贴、发送(通过电子邮件或任何其它方式传送)的文本、文件、图像、照片、视频、声音、音乐、其他创作作品或任何其他材料(以下简称"内容"，包括用户个人的或个人创作的照片、声音、视频等)，无论系公开还是私下传播，均由用户和内容提供者承担责任，寸心网不对该等内容的正确性、完整性或品质作出任何保证。用户在使用寸心网服务时，可能会接触到令人不快、不适当或令人厌恶之内容，用户需在接受服务前自行做出判断。在任何情况下，寸心网均不为任何内容负责(包括但不限于任何内容的错误、遗漏、不准确或不真实)，亦不对通过寸心网服务上传、张贴、发送(通过电子邮件或任何其它方式传送)的内容衍生的任何损失或损害负责。寸心网在管理过程中发现或接到举报并进行初步调查后，有权依法停止任何前述内容的传播并采取进一步行动，包括但不限于暂停某些用户使用寸心网的全部或部分服务，保存有关记录，并向有关机关报告。
</p>
</div>

<h2>十、用户行为</h2>
<div>
<p>用户在使用寸心网服务时，必须遵守中华人民共和国相关法律法规的规定，用户保证不会利用寸心网服务进行任何违法或不正当的活动，包括但不限于下列行为∶</p>
<p>上传、展示、张贴或以其它方式传播含有下列内容之一的信息：</p>
<p>反对宪法及其他法律的基本原则的;</p>
<p>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的;</p>
<p>损害国家荣誉和利益的;</p>
<p>煽动民族仇恨、民族歧视、破坏民族团结的;</p>
<p>破坏国家宗教政策，宣扬邪教和封建迷信的;</p>
<p>散布谣言，扰乱社会秩序，破坏社会稳定的;</p>
<p>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的;</p>
<p>侮辱或者诽谤他人，侵害他人合法权利的;</p>
<p>含有虚假、有害、胁迫、侵害他人隐私、骚扰、中伤、粗俗、猥亵、或其它道德上令人反感的内容;</p>
<p>含有中国法律、法规、规章、条例以及任何具有法律效力的规范所限制或禁止的其它内容的;</p>
<p>不得为任何非法目的而使用网络服务系统;</p>
<p>用户同时保证不会利用寸心网服务从事以下活动：</p>
<p>未经允许，进入计算机信息网络或者使用计算机信息网络资源的;</p>
<p>未经允许，对计算机信息网络功能进行删除、修改或者增加的;</p>
<p>未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的;故意制作、传播计算机病毒等破坏性程序的;</p>
<p>其他危害计算机信息网络安全的行为。</p>
<p>如用户在使用网络服务时违反任何上述规定，寸心网或经其授权者有权要求该用户改正或直接采取一切必要措施(包括但不限于更改、删除相关内容、暂停或终止相关用户使用寸心网服务)以减轻和消除该用户不当行为造成的影响。</p>
<p>用户不得对寸心网服务的任何部分或全部以及通过寸心网取得的任何形式的信息，进行复制、拷贝、出售、转售或用于任何其它商业目的。</p>
<p>用户须对自己在使用寸心网服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：停止侵害行为，向受到侵害者公开赔礼道歉，恢复受到侵害这的名誉，对受到侵害者进行赔偿。如果寸心网网站因某用户的非法或不当行为受到行政处罚或承担了任何形式的侵权损害赔偿责任，该用户应向寸心网进行赔偿(不低于寸心网向第三方赔偿的金额)并通过全国性的媒体向寸心网公开赔礼道歉。</p>
</div>

<h2>十一、知识产权和其他合法权益(包括但不限于名誉权、商誉等)</h2>
<div>
<p>寸心网并不对用户发布到寸心网服务中的文本、文件、图像、照片、视频、声音、音乐、其他创作作品或任何其他材料(前文称为"内容")拥有任何所有权。在用户将内容发布到寸心网服务中后，用户将继续对内容享有权利，并且有权选择恰当的方式使用该等内容。如果用户在寸心网服务中或通过寸心网服务展示或发表任何内容，即表明该用户就此授予寸心网一个有限的许可以使寸心网能够合法使用、修改、复制、传播和出版此类内容。</p>
<p>用户同意其已就在寸心网服务所发布的内容，授予寸心网可以免费的、永久有效的、不可撤销的、非独家的、可转授权的、在全球范围内对所发布内容进行使用、复制、修改、改写、改编、发行、翻译、创造衍生性著作的权利，及/或可以将前述部分或全部内容加以传播、表演、展示，及/或可以将前述部分或全部内容放入任何现在已知和未来开发出的以任何形式、媒体或科技承载的著作当中。</p>
<p>用户声明并保证：用户对其在寸心网服务中或通过寸心网服务发布的内容拥有合法权利;用户在寸心网服务中或通过寸心网服务发布的内容不侵犯任何人的肖像权、隐私权、著作权、商标权、专利权、及其它合同权利。如因用户在寸心网服务中或通过寸心网服务发布的内容而需向其他任何人支付许可费或其它费用，全部由该用户承担。</p>
<p>寸心网服务中包含寸心网提供的内容，包含用户和其他寸心网许可方的内容(下称"寸心网的内容")。寸心网的内容受《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国专利法》、《中华人民共和国反不正当竞争法》和其他相关法律法规的保护，寸心网拥有并保持对寸心网的内容和寸心网服务的所有权利。</p>
</div>

<h2>十二、国际使用之特别警告</h2>
<div>
<p>
用户已了解国际互联网的无国界性，同意遵守所有关于网上行为、内容的法律法规。用户特别同意遵守有关从中国或用户所在国家或地区输出信息所可能涉及、适用的全部法律法规。
</p>
</div>

<h2>十三、赔偿</h2>
<div>
<p>
由于用户通过寸心网服务上传、张贴、发送或传播的内容，或因用户与本服务连线，或因用户违反本使用协议，或因用户侵害他人任何权利而导致任何第三人向寸心网提出赔偿请求，该用户同意赔偿寸心网及其股东、子公司、关联企业、代理人、品牌共有人或其它合作伙伴相应的赔偿金额(包括寸心网支付的律师费等)，以使寸心网的利益免受损害。
</p>
</div>

<h2>十四、关于使用及储存的一般措施</h2>
<div>
<p>
用户承认寸心网有权制定关于服务使用的一般措施及限制，包括但不限于寸心网服务将保留用户的电子邮件信息、用户所张贴内容或其它上载内容的最长保留期间、用户一个帐号可收发信息的最大数量、用户帐号当中可收发的单个信息的大小、寸心网服务器为用户分配的最大磁盘空间，以及一定期间内用户使用寸心网服务的次数上限(及每次使用时间之上限)。通过寸心网服务存储或传送的任何信息、通讯资料和其它任何内容，如被删除或未予储存，用户同意寸心网毋须承担任何责任。用户亦同意，超过一年未使用的帐号，寸心网有权关闭。寸心网有权依其自行判断和决定，随时变更相关一般措施及限制。
</p>
</div>

<h2>十五、服务的修改</h2>
<div>
<p>
用户了解并同意，无论通知与否，寸心网有权于任何时间暂时或永久修改或终止部分或全部寸心网服务，对此，寸心网对用户和任何第三人均无需承担任何责任。用户同意，所有上传、张贴、发送到寸心网的内容，寸心网均无保存义务，用户应自行备份。寸心网不对任何内容丢失以及用户因此而遭受的相关损失承担责任。
</p>
</div>

<h2>十六、终止服务</h2>
<div>
<p>
用户同意寸心网可单方面判断并决定，如果用户违反本使用协议或用户长时间未能使用其帐号，寸心网可以终止该用户的密码、帐号或某些服务的使用，并可将该用户在寸心网服务中留存的任何内容加以移除或删除。寸心网亦可基于自身考虑，在通知或未通知之情形下，随时对该用户终止部分或全部服务。用户了解并同意依本使用协议，无需进行事先通知，寸心网可在发现任何不适宜内容时，立即关闭或删除该用户的帐号及其帐号中所有相关信息及文件，并暂时或永久禁止该用户继续使用前述文件或帐号。
</p>
</div>

<h2>十七、与广告商进行的交易</h2>
<div>
<p>
用户通过寸心网服务与广告商进行任何形式的通讯或商业往来，或参与促销活动(包括相关商品或服务的付款及交付)，以及达成的其它任何条款、条件、保证或声明，完全是用户与广告商之间的行为。除有关法律法规明文规定要求寸心网承担责任外，用户因前述任何交易、沟通等而遭受的任何性质的损失或损害，寸心网均不予负责。
</p>
</div>

<h2>十八、链接</h2>
<div>
<p>
用户了解并同意，对于寸心网服务或第三人提供的其它网站或资源的链接是否可以利用，寸心网不予负责;存在或源于此类网站或资源的任何内容、广告、产品或其它资料，寸心网亦不保证或负责。因使用或信赖任何此类网站或资源发布的或经由此类网站或资源获得的任何商品、服务、信息，如对用户造成任何损害，寸心网不负任何直接或间接责任。
</p>
</div>

<h2>十九、禁止商业行为</h2>
<div>
<p>
用户同意不对寸心网服务的任何部分或全部以及用户通过寸心网的服务取得的任何物品、服务、信息等，进行复制、拷贝、出售、转售或用于任何其它商业目的。
</p>
</div>

<h2>二十、寸心网的专属权利</h2>
<div>
<p>
用户了解并同意，寸心网服务及其所使用的相关软件(以下简称"服务软件")含有受到相关知识产权及其它法律保护的专有保密资料。用户同时了解并同意，经由寸心网服务或广告商向用户呈现的赞助广告或信息所包含之内容，亦可能受到著作权、商标、专利等相关法律的保护。未经寸心网或广告商书面授权，用户不得修改、出售、传播部分或全部服务内容或软件，或加以制作衍生服务或软件。寸心网仅授予用户个人非专属的使用权，用户不得(也不得允许任何第三人)复制、修改、创作衍生著作，或通过进行还原工程、反向组译及其它方式破译原代码。用户也不得以转让、许可、设定任何担保或其它方式移转服务和软件的任何权利。用户同意只能通过由寸心网所提供的界面而非任何其它方式使用寸心网服务。
</p>
</div>

<h2>二十一、担保与保证</h2>
<div>
<p>寸心网使用协议的任何规定均不会免除因寸心网造成用户人身伤害或因故意造成用户财产损失而应承担的任何责任。</p>
<p>用户使用寸心网服务的风险由用户个人承担。寸心网对服务不提供任何明示或默示的担保或保证，包括但不限于商业适售性、特定目的的适用性及未侵害他人权利等的担保或保证。</p>
<p>寸心网亦不保证以下事项：</p>
<p>服务将符合用户的要求;</p>
<p>服务将不受干扰、及时提供、安全可靠或不会出错;</p>
<p>使用服务取得的结果正确可靠;</p>
<p>用户经由寸心网服务购买或取得的任何产品、服务、资讯或其它信息将符合用户的期望，且软件中任何错误都将得到更正。</p>
<p>用户应自行决定使用寸心网服务下载或取得任何资料且自负风险，因任何资料的下载而导致的用户电脑系统损坏或数据流失等后果，由用户自行承担。</p>
<p>用户经由寸心网服务获知的任何建议或信息(无论书面或口头形式)，除非使用协议有明确规定，将不构成寸心网对用户的任何保证。</p>
</div>

<h2>二十二、责任限制</h2>
<div>
<p>用户明确了解并同意，基于以下原因而造成的任何损失，寸心网均不承担任何直接、间接、附带、特别、衍生性或惩罚性赔偿责任(即使寸心网事先已被告知用户或第三方可能会产生相关损失)：</p>
<p>寸心网服务的使用或无法使用;</p>
<p>通过寸心网服务购买、兑换、交换取得的任何商品、数据、信息、服务、信息，或缔结交易而发生的成本;</p>
<p>用户的传输或数据遭到未获授权的存取或变造;</p>
<p>任何第三方在寸心网服务中所作的声明或行为;</p>
<p>与寸心网服务相关的其它事宜，但本使用协议有明确规定的除外。</p>
</div>

<h2>二十三、一般性条款</h2>
<div>
<p>本使用协议构成用户与寸心网之间的正式协议，并用于规范用户的使用行为。在用户使用寸心网服务、使用第三方提供的内容或软件时，在遵守本协议的基础上，亦应遵守与该等服务、内容、软件有关附加条款及条件。</p>
<p>本使用协以及用户与寸心网之间的关系，均受到中华人民共和国法律管辖。</p>
<p>用户与寸心网就服务本身、本使用协议或其它有关事项发生的争议，应通过友好协商解决。协商不成的，应向北京市东城区人民法院提起诉讼。</p>
<p>寸心网未行使或执行本使用协议设定、赋予的任何权利，不构成对该等权利的放弃。</p>
<p>本使用协议中的任何条款因与中华人民共和国法律相抵触而无效，并不影响其它条款的效力。</p>
<p>本使用协议的标题仅供方便阅读而设，如与协议内容存在矛盾，以协议内容为准。</p>
</div>

<h2>二十四、联系方式</h2>
<div>
<p>
如用户对寸心网网站在使用中有任何问题、意见、或发现任何违反本服务条款的情事，请直接与我们联系：help@cunxin.org
</p>
</div>

</div>
