<%= @user.name %>，你好，<br/>

<p style='text-indent: 2em'>
  非常感谢你在寸心网捐助了“<%= @project.headline %>”。并不是每个人都会很关注在社交网站上的捐助信息， 但我们很欣幸你没有忽略我们的求助。我们会努力不辜负你的厚望，将你的一份心意送到你希望帮助的人手中。你的捐助是对于受捐人的爱心，也是对我们沉甸甸的分量。
</p>

<p style='text-indent: 2em'>
  寸心网是一个服务于公益组织和爱心人士，致力于推动中国微公益事业的专业机构。我们致力于成为中国最具口碑的公益网络募捐平台。我们的运作方式，就是公益组织将募捐项目发布到寸心网平台上，寸心团队充分发挥在募资、互联网运作、企业合作伙伴、社会名人和媒体资源等方面的优势，帮助这些项目募捐尽可能多的善款。作为一个独立的第三方公益机构，寸心网不会收取任何费用，每一分爱心网民和企业的捐款，都将直接进入公益组织的账户用于项目执行，并将在网上详细公开捐款使用情况，让你及时了解受捐者的现状。
</p>

<p style='text-indent: 2em'>
  目前，寸心已与瓷娃娃罕见病关爱中心、血友之家罕见病关爱中心、中国乡村儿童大病医保公益基金、香港北大助学基金会和海星儿童基金会等慈善基金会，ABC美好社会咨询社、大未青年和中国乡村教育促进会等NGO建立了合作关系，并于2月28日上线了第一批3个公益募捐项目，以实际行动践行公益理念。
</p>

<p style='text-indent: 2em'>
  我们很感谢你对公益的支持，同时也衷心的希望你能够继续关注寸心，关注公益。我们很希望你能把这封邮件转给你的朋友，告诉他们寸心是谁，寸心在做什么。也请你关注我们的新浪微博“寸心网”和官方微信“cunxin_cn”，你的关注和监督将使我们做的更好。 
</p>

<p style='text-indent: 2em'>
  我们一直有一个信念，能够帮助别人就是一种幸福，我们祝你和家人幸福安康，也答应你，一定把幸福带到更多的地方。最后，我们谨代表受捐人、我们的合作公益组织以及寸心网的全体成员，再次向你表示感谢。因为有你，我们的爱，从不渺小！
</p>


<p>
寸心团队    敬致<br/>
---------------------------------<br/>
寸心网 ，一个专业的公益网络募捐平台  www.cunxin.org<br/>
联系方式：contact@cunxin.org<br/>
新浪微博：寸心网<br/>
官方微信：cunxin_cn<br/>
</p>

