/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "compass/css3";
.relative {
  position: relative;
}

.bordered-content {
  background: white;
  padding: 20px;
  @include border-radius(4px);
  border: 1px solid #ddd;
  margin: 20px auto;
}

ul {
  list-style-type: none;
}

#main {
  min-height: 600px;
}

.td15 {
  width: 15%;
}
.td20 {
  width: 20%;
}
.td25 {
  width: 25%;
}
.td40 {
  width: 40%;
}

@import "sprites"; /*sprites*/
@import "bootstrap_and_overrides";
@import "signin";
@import "home";
@import "carousel";
@import "progress_bar";
@import "head_and_footer";
@import "profile";
@import "editable";
@import "projects";
@import "charities";
@import "payment";

