$buttonMarginWidth: 3px;
$buttonHeight: sprites-sprite-height("green-button");
$buttonFontSize: 19px;

@mixin button($background-color, $background-hover-color, $border-color, $text-color)
{
  display: inline-block;
  background-color: $background-color;
  font-size: 20px;
  padding: 10px 30px;
  color: $text-color;
  border: 1px solid $border-color;
  @include background-origin(border-box);
  @include border-radius(8px);
  @include box-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.25), inset -999px 0 0 $background-color);
  &:hover {
    text-decoration: none;
    color: $text-color;
    background-color: $background-hover-color;
    @include box-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.25), inset -999px 0 0 $background-hover-color);
    outline: none;
  }
}

.blue-button {
  @include button($darkBlue, $darkBlue * 1.2, $darkBlue * 0.8, #F4F4F4);
}

.green-button {
  @include button($darkGreen, $darkGreen * 1.1, $darkGreen * 0.8, #F4F4F4);
}

.gray-button {
  @include button(#F5F5F5, #E6E6E6, #E6E6E6, #666666);
}

.dark-gray-button {
  @include button(#999999, #999999, #666666, #F4F4F4);
}

$darkDarkBlue: $darkBlue * 0.8;
.dark-blue-button {
  @include button($darkDarkBlue, $darkDarkBlue, $darkDarkBlue * 0.8, #F4F4F4);
}

$darkDarkGreen: #228D00;
.dark-green-button {
  @include button($darkDarkGreen, $darkDarkGreen, $darkDarkGreen * 0.8, #F4F4F4);
  color: $white * 0.9;
  &:hover {
    color: $white * 0.9;
  }
}

.small-button {
  font-size: 16px;
  padding: 8px 20px;
  @include border-radius(5px);
}

.super-small-button {
  font-size: 13px;
  padding: 2px 15px;
  @include border-radius(3px);
}

// button with 4 character
.button-small-w4 {
  width: 54px;
}

input.signin-button {
  padding: 4px 20px;
}

.donation-button {
  display: inline-block;
  width: sprites-sprite-width("donate-button");
  height: sprites-sprite-height("donate-button");
  @include sprites-sprite("donate-button");
  &:hover {
    @include sprites-sprite("donate-button-hover");
  }
}

div.button {
  display: inline-block;
  position: relative;
  height: $buttonHeight;
  .btn-left {
    background: green;
    font-size: $buttonFontSize;
    font-weight: bold;
    line-height: $buttonFontSize;
    margin-right: $buttonMarginWidth;
    a, div.btn-content {
      color: #F4F4F4;
      padding: ($buttonHeight - $buttonFontSize)/2 30px-$buttonMarginWidth ($buttonHeight - $buttonFontSize)/2 30px;
      display: block;
      min-width: 57px;
      text-align: center;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .btn-right {
    width: $buttonMarginWidth;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

div.button.green-btn {
  .btn-left {
    @include sprites-sprite("green-button")
  }
  .btn-right {
    @include sprites-sprite("green-button", false, -(sprites-sprite-width("green-button")-$buttonMarginWidth), 0px)
  }
  &.hover {
    .btn-left {
      @include sprites-sprite("green-button-hover")
    }
    .btn-right {
      @include sprites-sprite("green-button-hover", false, -(sprites-sprite-width("green-button-hover")-$buttonMarginWidth), 0px)
    }
  }
}

div.button.blue-btn {
  .btn-left {
    @include sprites-sprite("blue-button")
  }
  .btn-right {
    @include sprites-sprite("blue-button", false, -(sprites-sprite-width("blue-button")-$buttonMarginWidth), 0px)
  }
  &.hover {
    .btn-left {
      @include sprites-sprite("blue-button-hover")
    }
    .btn-right {
      @include sprites-sprite("blue-button-hover", false, -(sprites-sprite-width("blue-button-hover")-$buttonMarginWidth), 0px)
    }
  }
}

div.button.dark-blue-btn {
  .btn-left {
    @include sprites-sprite("dark-blue-button")
  }
  .btn-right {
    @include sprites-sprite("dark-blue-button", false, -(sprites-sprite-width("dark-blue-button")-$buttonMarginWidth), 0px)
  }
  &.hover {
    .btn-left {
      @include sprites-sprite("dark-blue-button-hover")
    }
    .btn-right {
      @include sprites-sprite("dark-blue-button-hover", false, -(sprites-sprite-width("dark-blue-button-hover")-$buttonMarginWidth), 0px)
    }
  }
}

div.button.disabled {
  .btn-left {
    @include sprites-sprite("disabled-button")
  }
  .btn-right {
    @include sprites-sprite("disabled-button", false, -(sprites-sprite-width("dark-blue-button")-$buttonMarginWidth), 0px)
  }
}

.sina-connect-button {
  display: inline-block;
  width: sprites-sprite-width("sina-connect");
  height: sprites-sprite-height("sina-connect");
  @include sprites-sprite("sina-connect");
  &:hover {
    @include sprites-sprite("sina-connect-hover");
  }
}
