input[type=submit].signin-button, input[type=submit].signup-button {
  @include sprites-sprite("signin");
  width: sprites-sprite-width("signin");
  height: sprites-sprite-height("signin");
  color: #eeffff;
  border: none;
  line-height: 26px;

  &:hover {
    @include sprites-sprite("signin-hover");
  }
}

.more-info-button {
  display: inline-block;
  @include sprites-sprite('notice-button');
  width: sprites-sprite-width("notice-button");
  height: sprites-sprite-height("notice-button");
  line-height: sprites-sprite-height("notice-button");
  font-size: 24px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  &:hover, &.loading {
    @include sprites-sprite('notice-button-hover');
    color: white;
    text-decoration: none;
  }
}

.blue-button {
  display: inline-block;
  background-color: $darkBlue;
  font-size: 20px;
  padding: 10px 30px;
  color: #F4F4F4;
  border: 1px solid #2B79B8;
  @include background-origin(border-box);
  @include border-radius(8px);
  @include box-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.25), inset -999px 0 0 #2E9DF7);
  &:hover {
    text-decoration: none;
    color: #F4F4F4;
    background-color: #47A9F8;
    @include box-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.25), inset -999px 0 0 #47a9f8);
    outline: none;
  }
}
