.head-carousel {
  width: 100%;
  max-width: 1280px;
  height: 530px;

  .item {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .carousel-control {
    top: 220px;
  }
}

.carousel-control {
  position: absolute;
  display: block;
  text-indent: -99999em;
  left: auto;
  right: auto;
  border: none;
}
a.carousel-control-left {
  @include sprites-sprite("left-arrow");
  width: sprites-sprite-width("left-arrow");
  height: sprites-sprite-height("left-arrow");
  left: 10px;

  &:hover, &.hover {
    @include sprites-sprite("left-arrow-hover");
  }
}
a.carousel-control-right {
  @include sprites-sprite("right-arrow");
  width: sprites-sprite-width("right-arrow");
  height: sprites-sprite-height("right-arrow");
  right: 10px;

  &:hover, &.hover {
    @include sprites-sprite("right-arrow-hover");
  }
}

.col3-carousel {
  .item {
    [class*="span"] {
      max-height: 240px;
      img {
        max-height: 240px;
      }
    }
  }

  .carousel-control {
    top: 120px;
  }
}
