$col3_carousel_height: 240px;
$col4_carousel_border: 2px;
$col4_carousel_height: 150px;
$col4_carousel_width: 224px;
$head_carousel_width: 1440px;
$head_carousel_height: 450px;
$head_description_height: 300px;
$head_description_width: 150px;
$arrow_height: sprites-sprite-height("left-arrow");

.head-carousel {
  width: 100%;
  max-width: $head_carousel_width;
  height: $head_carousel_height;
  overflow: hidden;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  border-bottom: 1px solid $gray;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));

  .carousel-inner {
    width: 100%;
    height: 100%;
    .item {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .carousel-control {
    top: ($head_carousel_height - $arrow_height) / 2;
  }

  .head-carousel-float-content {
    position: relative;
    .text-content {
      position: absolute;
      bottom: 20px;
      color: white;
      padding: 20px;
      .headline {
        font-size: 36px;
        line-height: 50px;
        text-align: justify;
        width: 400px;
        @include text-shadow(#000 0 0 5px);
      }
    }
    .view-project-button {
      position: absolute;
      bottom: 30px;
      right: 50px;
      display: none;
    }
  }
  &:hover .view-project-button {
    display: block;
  }
}

.carousel-description {
  div, span, h3 {
    color: #cccccc;
  }
  h3 {
    font-size: 20px;
  }
  width: $head_description_width;
  height: $head_description_height;
  top: ($head_carousel_height - $head_description_height) / 2 - 15px;
  left: 100px;
  padding: 15px;
  position: absolute;
  background: none repeat scroll 0 0 rgba(0,0,0,0.75);
}

.carousel-control {
  position: absolute;
  display: block;
  text-indent: -99999em;
  left: auto;
  right: auto;
  border: none;
  margin-top: 0;
}
a.carousel-control-left {
  @include sprites-sprite("left-arrow");
  width: sprites-sprite-width("left-arrow");
  height: sprites-sprite-height("left-arrow");
  left: 10px;

  &:hover, &.hover {
    @include sprites-sprite("left-arrow-hover");
  }
}
a.carousel-control-right {
  @include sprites-sprite("right-arrow");
  width: sprites-sprite-width("right-arrow");
  height: sprites-sprite-height("right-arrow");
  right: 10px;

  &:hover, &.hover {
    @include sprites-sprite("right-arrow-hover");
  }
}

.col3-carousel {
  height: $col3_carousel_height;
  .item {
    [class*="span"] {
      text-align: center;
      max-height: $col3_carousel_height;
      *height: $col3_carousel_height;
      position: relative;
      img {
        max-height: $col3_carousel_height;
        *height: $col3_carousel_height;
      }
      .caption {
        color: white;
        position: absolute;
        line-height: 30px;
        vertical-align: middle;
        bottom: 0;
        left: 20px;
      }
    }
  }

  .carousel-control {
    top: ($col3_carousel_height - $arrow_height)/2;
  }
  .carousel-control-left {
    left: -40px;
  }
  .carousel-control-right {
    right: -40px;
  }
}

.col4-carousel {
  height: $col4_carousel_height;
  .item {
    [class*="span"] {
      text-align: center;
      max-height: $col4_carousel_height;
      *height: $col4_carousel_height;
      position: relative;
      img {
        max-height: $col4_carousel_height - $col4_carousel_border * 2;
        *height: $col4_carousel_height - $col4_carousel_border * 2;
        width: $col4_carousel_width - $col4_carousel_border * 2;
        border: $col4_carousel_border solid #ccc;
      }
      .caption {
        color: white;
        position: absolute;
        line-height: 24px;
        vertical-align: middle;
        bottom: 0;
        left: 20px;
      }
    }
  }

  .carousel-control {
    top: ($col4_carousel_height - $arrow_height)/2;
  }
  .carousel-control-left {
    left: -40px;
  }
  .carousel-control-right {
    right: -40px;
  }
}
