$col3_carousel_height: 240px;
$col4_carousel_border: 2px;
$col4_carousel_height: 130px;
$col4_carousel_width: 224px;
$col5_carousel_width: 188px;
$col5_carousel_height: 110px;
$col5_carousel_border: 2px;
$head_carousel_width: 100%;
$head_carousel_height: 550px;
$head_description_height: 300px;
$head_description_width: 150px;
$arrow_height: sprites-sprite-height("left-arrow");
$arrow_padding: 50px;

.head-carousel {
  width: 100%;
  max-width: $head_carousel_width;
  height: auto;
  min-height: 100px;
  overflow: hidden;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  border-bottom: 1px solid $gray;

  .carousel-inner {
    width: 100%;
    height: $head_carousel_height;
    .item {
      width: 100%;
      height: $head_carousel_height;
      position: absolute;
      top: 0;
      left: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .carousel-control {
    top: ($head_carousel_height - $arrow_height) / 2 - $arrow_padding;
  }

  .hideable {
    //visibility: hidden;
    display: none;
    //@include opacity(0);
    //@include transition-property(opacity);
    //@include transition-duration(.5s);
  }

  &:hover .hideable {
    //@include opacity(1);
    //visibility: visible;
    display: block;
  }

  .head-carousel-float-content {
    position: relative;
    .text-content {
      position: absolute;
      bottom: 20px;
      color: white;
      padding: 20px;
      .headline {
        font-size: 36px;
        line-height: 50px;
        text-align: justify;
        width: 400px;
        @include text-shadow(#000 0 0 5px);
      }
    }
    .view-project-button {
      position: absolute;
      bottom: 30px;
      right: -10px;
    }
  }

  .carousel-nav-dots {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    .nav-dot {
      display: inline-block;
      width: sprites-sprite-width("dot");
      height: sprites-sprite-height("dot");
      @include sprites-sprite("dot");
      cursor: pointer;
      padding: 0 2px;
    }
    .nav-dot:hover, .nav-dot-active {
      @include sprites-sprite("dot-active");
      cursor: pointer;
    }
  }
}

.carousel-description {
  div, span, h3 {
    color: #cccccc;
  }
  h3 {
    font-size: 20px;
  }
  width: $head_description_width;
  height: $head_description_height;
  top: ($head_carousel_height - $head_description_height) / 2 - 15px;
  left: 100px;
  padding: 15px;
  position: absolute;
  background: none repeat scroll 0 0 rgba(0,0,0,0.75);
}

.carousel-control {
  position: absolute;
  display: block;
  text-indent: -99999em;
  left: auto;
  right: auto;
  border: none;
  margin-top: 0;
  background: none;
  cursor: pointer;
  padding: $arrow_padding;
  .carousel-control-left {
    @include sprites-sprite("left-arrow");
    width: sprites-sprite-width("left-arrow");
    height: sprites-sprite-height("left-arrow");
    left: 10px;
    position: absolute;
    display: block;
    text-indent: -99999em;
  }
  &:hover .carousel-control-left, &.hover .carousel-control-left {
    @include sprites-sprite("left-arrow-hover");
  }
  .carousel-control-right {
    @include sprites-sprite("right-arrow");
    width: sprites-sprite-width("right-arrow");
    height: sprites-sprite-height("right-arrow");
    right: 10px;
    position: absolute;
    display: block;
    text-indent: -99999em;
  }
  &:hover .carousel-control-right, &.hover .carousel-control-right {
    @include sprites-sprite("right-arrow-hover");
  }
}

.col3-carousel {
  height: $col3_carousel_height;
  .item {
    [class*="span"] {
      text-align: center;
      max-height: $col3_carousel_height;
      *height: $col3_carousel_height;
      position: relative;
      img {
        max-height: $col3_carousel_height;
        *height: $col3_carousel_height;
      }
      .caption {
        color: white;
        position: absolute;
        line-height: 30px;
        vertical-align: middle;
        bottom: 0;
        left: 20px;
      }
    }
  }

  .carousel-control {
    top: ($col3_carousel_height - $arrow_height)/2;
  }
  .carousel-control-left {
    left: -40px;
  }
  .carousel-control-right {
    right: -40px;
  }
}

@mixin colx-carousel($colx_carousel_height, $colx_carousel_width, $colx_carousel_border)
{
  height: $colx_carousel_height;
  $colx_carousel_border_thicker: $colx_carousel_border + 1;
  .item {
    [class*="span"] {
      text-align: center;
      height: $colx_carousel_height;
      position: relative;
      a {
        display: block;
      }
      .img-wrapper {
        border: $colx_carousel_border solid #ccc;
        height: $colx_carousel_height - $colx_carousel_border * 2;
        width: $colx_carousel_width - $colx_carousel_border * 2;
        img {
          height: $colx_carousel_height - $colx_carousel_border * 2;
          width: $colx_carousel_width - $colx_carousel_border * 2;
        }
      }
      .cunxin-thumb-selected >.img-wrapper {
        border: $colx_carousel_border_thicker solid $lightBlue;
        height: $colx_carousel_height - $colx_carousel_border_thicker * 2;
        width: $colx_carousel_width - $colx_carousel_border_thicker * 2;
        >img {
          height: $colx_carousel_height - $colx_carousel_border_thicker * 2;
          width: $colx_carousel_width - $colx_carousel_border_thicker * 2;
        }
      }
      .caption {
        color: white;
        position: absolute;
        line-height: 24px;
        vertical-align: middle;
        bottom: 0;
        left: 20px;
      }
    }
  }

  .carousel-control {
    top: ($colx_carousel_height - $arrow_height)/2;
  }
  .carousel-control-left {
    left: -40px;
  }
  .carousel-control-right {
    right: -40px;
  }
}

.col4-carousel {
  @include colx-carousel($col4_carousel_height, $col4_carousel_width, $col4_carousel_border);
}
.col5-carousel {
  @include colx-carousel($col5_carousel_height, $col5_carousel_width, $col5_carousel_border);
}
