// Place all the styles related to the donation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.donate-page {
  padding-bottom: 65px;

  h1 {
    font-size: 25px;
    color: $darkBlue;
  }

  label {
    display: inline-block;
  }

  input {
    margin: 0 0;
  }

  div.selector-wrapper {
    border: 1px solid #d4d4d4;
    padding: 10px;
    margin-bottom: 15px;
    @include border-radius(4px);
    background: white;

    h2 {
      padding: 8px 16px;
      font-size: 14px;
      line-height: 20px;
      color: #333;
      background: #e2f0ff;
      border-bottom: solid 1px #c5e1ff;
    }

    h3 {
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
      color: $gray;
      padding-left: 15px;
    }
  }

  div.project-desc-wrapper {
    border: 1px solid #d4d4d4;
    padding: 10px;
    @include border-radius(4px);
    background: white;

    div.project-thumbnail {
      img {
        margin-bottom: 5px;
        width: 100%;
      }

      a {
        font-size: 16px;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .desc-content td {
      padding-top: 5px;
      .col1 {
        padding-right: 5px;
        text-align: right;
      }
    }

    div.project-desc {
      padding-top: 5px;
      color: $gray;
      line-height: 24px;
    }

    .countdownHolder {
      .position {
        margin-left: 1px;
        width: 12px;
        height: 14px;
        vertical-align: middle;
        .digit {
          height: 14px;
          width: 12px;
          letter-spacing: 0;
          line-height: 14px;
        }
      }
      .countDiv {
        font-size: 14px;
      }
    }
  }

  ul.donate-amount-select {
    margin-bottom: 5px;
    >li {
      float: left;
      margin-right: 30px;
      min-width: 45px;
      height: 30px;
      line-height: 30px;

      input {
        margin: 0 0;
      }

      span.other-amount-input {
        display: none;

        input#input_amount {
          width: 128px;
          height: 13px;
        }
      }

      label.amount-text {
        cursor: pointer;
        display: inline-block;
      }
    }
  }

  ul.payment-select {
    >li {
      float:left;
      position: relative;
      margin-bottom: 15px;
      margin-right: 5px;

      div.payment-logo {
        display: inline-block;
        border: 1px solid #aaaaaa;
        padding: 1px;
        width: 123px;
        height: 30px;

        img {
          width: 123px;
          height: 30px;
          cursor: pointer;
        }
      }
      &.select {
        div.payment-logo {
          border: 2px solid $darkBlue;
          padding: 0px;
        }
      }
    }

    a#choose-other-method {
      padding-left: 20px;
      font-size: 12px;
      &:after {
        display: inline-block;
        margin-bottom: 2px;
        content: "";
        width: 7px;
        height: 4px;
        @include sprites-sprite("arrow-unfold")
      }
    }
  }

  ul.donate-anonymous-check {
    label {
      cursor: pointer;
    }
  }

  div.agree-service {
    margin-left: 25px;
  }

  div.donate-button-wrapper {
    margin-top: 10px;
  }

  input#pay-submit{
    margin-left: 25px;
  }

}

div.pay-confirm-modal {
  width: 415px;
  border: 1px solid $darkBlue;
  div.modal-header {
    height: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: $darkBlue;
  }
  div.info {
    height: 54px;
    font-family: "'黑体',arial,sans-serif";
    background: url("wenwen-dance.png") no-repeat;
    padding: 26px 0 37px 119px;
    font-size: 19px;
    margin: 4px 28px 17px;
    line-height: 33px;
  }
  div.notice {
    margin: 0;
    line-height: 20px;
    padding-left: 28px;
  }
  div.buttons {
    margin: 15px 15px 30px;
    text-align: center;
    a {
      margin-left: 10px;
    }
  }
}

div.donate-expired-page {
  text-align: center;
  .note {
    width: 500px;
    padding-left: 40px;
    margin: 0 auto;
    color: $lightBlue;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
  }
}

div.pay-success-page {
  text-align: center;

  h1.thank-note {
    padding-left: 40px;
    margin-bottom: 45px;
    color: #333;
    font-size: 40px;
    font-weight: bold;
  }

  div.info {
    margin-bottom: 20px;
    div.info-row {
      div.title {
        margin-bottom: 25px;
        width: 50%;
        font-size: 36px;
        color: #333;
        line-height: 46px;
        text-align: right;
        vertical-align: top;
        font-weight: bold;
        float: left;
      }
      div.value {
        margin-bottom: 25px;
        width: 33%;
        font-size: 34px;
        color: $lightBlue;
        line-height: 46px;
        text-align: left;
        vertical-align: top;
        font-weight: bold;
        float: left;
      }
    }
  }

  div.notice {
    padding-left: 60px;
    font-size: 24px;
    line-height: 60px;
    margin-bottom: 30px;
    span {
      font-weight: bold;
      color: $lightBlue;
    }
  }
}
