// Place all the styles related to the payment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.donate-page {
  padding-bottom: 65px;

  div.page-left {
    float: left;
    width: 670px;
  }

  div.page-right {
    float: right;
    width: 300px;
  }

  h1 {
    font-size: 25px;
    color: $darkBlue;
  }

  label {
    display: inline-block;
  }

  input {
    margin: 0 0;
  }

  div.selector-wrapper {
    border: 1px solid #d4d4d4;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    background: white;

    h2 {
      padding: 8px 16px;
      font-size: 14px;
      line-height: 20px;
      color: #333;
      background: #e2f0ff;
      border-bottom: solid 1px #c5e1ff;
    }

    h3 {
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
      color: $gray;
      padding-left: 15px;
    }
  }

  div.project-desc-wrapper {
    border: 1px solid #d4d4d4;
    padding: 15px;
    border-radius: 4px;
    background: white;

    div.project-thumbnail {
      img {
        margin-bottom: 5px;
      }

      a {
        font-size: 16px;
        color: #1E5DA7;
      }

      a:hover {
        color: #97A9F8 ;
        text-decoration: none;
      }
    }

    .desc-content td {
      padding-top: 5px;
      .col1 {
        padding-right: 5px;
        text-align: right;
      }
    }

    div.project-desc {
      padding-top: 5px;
      color: $gray;
      line-height: 24px;
    }

  }

  ul.donate-amount-select {
    margin-bottom: 5px;
    >li {
      float: left;
      margin-right: 30px;
      min-width: 45px;
      height: 30px;
      line-height: 30px;

      input {
        margin: 0 0;
      }

      span.other-amount-input {
        display: none;

        input#input_amount {
          width: 128px;
          height: 13px;
        }
      }

      label.amount-text {
        cursor: pointer;
        display: inline-block;
      }
    }
  }

  ul.payment-select {
    >li {
      float:left;
      position: relative;
      margin-bottom: 15px;
      margin-right: 10px;

      div.payment-logo {
        display: inline-block;
        border: 1px solid #aaaaaa;
        padding: 1px;

        img {
          width: 123px;
          height: 30px;
          cursor: pointer;
        }
      }
      &.select {
        div.payment-logo {
          border: 2px solid $darkBlue;
          padding: 0px;
        }
      }
    }

    a#choose-other-method {
      padding-left: 20px;
      font-size: 12px;
      &:after {
        display: inline-block;
        margin-bottom: 2px;
        content: "";
        width: 7px;
        height: 4px;
        @include sprites-sprite("arrow-unfold")
      }
    }
  }

  ul.donate-anonymous-check {
    label {
      cursor: pointer;
    }
  }

  div.agree-service {
    margin-left: 25px;
  }

  div.donate-button-wrapper {
    margin-top: 10px;
  }

  input#pay-submit{
    margin-left: 25px;
  }

}

div.pay-confirm-modal {
  div.info {
    background: url("notice.png") no-repeat;
    padding-left: 30px;
    font-size: 18px;
    line-height: 24px;
  }
  div.notice {
    margin-top: 10px;
  }
  .modal-footer{
    a {
      margin-left: 10px;
    }
  }
}


div.pay-success-page {
  div.thank-note {
    margin-top: 45px;
    font-size: 30px;
    line-height: 38px;
    color: $gray;

    span.headline {
      color: $darkBlue;
    }

    span.amount {
      color: $darkGreen;
    }
  }


  div.other-projects {
    margin-top: 300px;
  }
}
