.nav-bar-wrapper {
  position: relative;

  .cunxin-nav-bar {
    @include sprites-sprite("head-bg");
    background-repeat: repeat-x;

    .navbar-inner {
      background: none;
      border: 0;
    }
  }

  .navbar-shadow {
    @include sprites-sprite("head-shadow");
    background-repeat: repeat-x;
    height: 16px;
    width: 100%;
    position: absolute;
    bottom: -16px;
    z-index: 1;
  }
}

.content-footer-divider {
  height: 2px;
  background: #33bafe;
}

#footer {
  @include sprites-sprite("footer-bg");
  background-repeat: repeat-x;
  padding-bottom: 10px;

  div, span, a {
    color: #999999;
    font-size: 13px;
  }

  a {
    text-decoration: none;
    &:hover, &:focus {
      color: white;
    }
  }

  h5 {
    color: white;
  }

  .footer-links {
    margin-top: 12px;
    text-align: center;
    .separator {
      padding: 0 10px;
    }
  }

  .footer-divider {
    background: #333333;
    height: 1px;
  }

  .copyright-container {
    margin-top: 10px;
    text-align: center;
    .copyright {
      font-size: 12px;
    }
  }
}
