$nav-bar-height: sprites-sprite-height("header-bg-58");
.nav-bar-wrapper {
  position: relative;

  .cunxin-nav-bar {
    @include sprites-sprite("header-bg-58");
    background-repeat: repeat-x;
    height: $nav-bar-height;
    border-bottom: 1px solid #404243;

    .navbar-inner {
      background: none;
      border: 0;
    }

    .divider {
      height: $nav-bar-height + 1;
      background-repeat: repeat-y;
      width: 2px;
      margin: 0 10px;
      background-image: image-url("header-divider.gif");
    }

  }

}

.content-footer-divider {
  height: 2px;
  background: #33bafe;
}

#footer {
  @include sprites-sprite("footer-bg");
  background-repeat: repeat-x;
  padding-bottom: 10px;

  div, span, a {
    color: #999999;
    font-size: 13px;
  }

  a {
    text-decoration: none;
    &:hover, &:focus {
      color: white;
    }
  }

  h5 {
    color: white;
  }

  .footer-links {
    margin-top: 12px;
    text-align: center;
    .separator {
      padding: 0 10px;
    }
  }

  .footer-divider {
    background: #333333;
    height: 1px;
  }

  .copyright-container {
    margin-top: 10px;
    text-align: center;
    .copyright {
      font-size: 12px;
    }
  }
}
