$nav-bar-height: 48px;
$banner-height: $nav-bar-height;
$logo-height: 40px;
.nav-bar-wrapper {
  position: relative;
  z-index: 1000;

  .cunxin-nav-bar {
    background-repeat: repeat-x;
    height: $nav-bar-height;
    @include sprites-sprite("trans-bg-48");

    .navbar-inner {
      background: none;
      filter: none;
      border: 0;
      @include box-shadow(none);
      .nav > li > a {
        padding-top: ($banner-height - 20px)/2;
        padding-bottom: ($banner-height - 20px)/2;
        color: $white;
        &:hover {
          color: $lightGreen;
        }
      }
    }

    .brand {
      padding: ($banner-height - $logo-height)/2 0;
    }

    .nav .user-thumb span {
      line-height: $banner-height - 2px;
      img {
        width: 36px;
        height: 36px;
      }
    }

    .nav li.sina-login {
      a {
        padding-top: ($banner-height - 24px)/2;
        padding-bottom: ($banner-height - 24px)/2;
      }
    }

  }

}

.content-footer-divider {
  height: 2px;
  background: #33bafe;
}

#footer {
  padding-bottom: 10px;
  background-color: #303030;

  div, span, a {
    color: $gray;
    font-size: 13px;
  }

  a {
    text-decoration: none;
    &:hover, &:focus {
      color: $white;
    }
  }

  .footer-links {
    margin-top: 12px;
    text-align: center;
    .separator {
      padding: 0 10px;
    }
  }

  .footer-divider {
    background: #333333;
    height: 1px;
  }

  .copyright-container {
    margin-top: 10px;
    text-align: center;
    .copyright {
      font-size: 12px;
    }
  }
}

.no-head-carousel {
  margin-top: $nav-bar-height;
}

.nav-scroll-control {
  min-height: $nav-bar-height + 10px;
}
