// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$head_summary_height: sprites-sprite-height("gray-bg-60");
.head-summary {
  @include sprites-sprite("gray-bg-60");
  height: $head_summary_height;
  width: 100%;
  background-repeat: repeat-x;
  color: #666;

  .container {
    font-size: 18px;
    line-height: $head_summary_height;
    vertical-align: middle;
  }

  .highlight {
    color: #4bf;
    font-size: 20px;
  }
}
