// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$head_summary_height: sprites-sprite-height("gray-bg-60");
.head-summary {
  @include sprites-sprite("gray-bg-60");
  height: $head_summary_height;
  width: 100%;
  background-repeat: repeat-x;
  color: #666;
  margin-bottom: 20px;

  .container {
    font-size: 16px;
    line-height: $head_summary_height;
    vertical-align: middle;
  }

  .highlight {
    color: #00A708;
    font-size: 18px;
    padding: 0 10px;
  }

  .head-carousel-control-button {
    line-height: $head_summary_height + 6px;
    text-align: center;
    .carousel-control-button {
      display: inline-block;
      margin-right: 10px;
      width: sprites-sprite-width("carousel-button");
      height: sprites-sprite-height("carousel-button");
      @include sprites-sprite("carousel-button");

      &.active {
        @include sprites-sprite("carousel-button-hover");
      }
    }
  }
}

.head-summary-tall {
  margin: 8px 0 33px;
  .summary-container {
    background: image-url("summary-bg.gif") repeat;
    border: 1px solid #e9e9e9;
    @include border-radius(5px);
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  }
  .summary-item {
    text-align: center;
    float: left;
    padding: 6px 0;
    width: 20%;
    border-left: 1px solid #c1c1c1;
    margin-left: -1px;
    color: $gray;
    font-size: 16px;
    &.first {
      border-left: none;
    }
    &.larger {
      width: 30%;
    }
  }
  .num {
    font: 56px/56px "LeagueGothicRegular", sans-serif;
    color: $darkBlue;
  }
}

.slogon {
  text-align: center;
  font-size: 24px;
  color: $darkGreen;
  line-height: 32px;
  margin-top: 8px;
  @include text-shadow(1px 1px 0 rgba(0,0,0,0.1));
}

.supports-list.cunxin-detail {
  .supports-text {
    margin-bottom: 10px;
  }
  a.more-link {
    float: right;
    padding-right: 13px;
  }
}


.cunxin-detail {
  color: $gray;
  .title {
    font-size: 18px;
    color: $darkGreen;
    line-height: 1.5em;
  }
  .description {
    padding: 0 30px 0 15px;
    text-align: justify;
    ul {
      margin-left: 0;
    }
    li {
      margin-bottom: .5em;
      text-indent: 0em;
      list-style-type: circle;
      list-style-position: outside;
    }
  }
}

.cunxin-charities-container {
  padding: 20px 0 30px;
  border-top: 1px solid #ccc;
  background-color: white;
}

.charity-link {
  padding-right: 20px;
  line-height: 85px;
}

.home-signup-form-container {
  position: absolute;
  right: 0;
  width: 270px;
  padding: 20px 0 0;
  color: white;
  top: 160px;

  .home-signup-form {
    position: relative;
    text-align: center;
    margin-bottom: 0;
    h2 {
      font-size: 18px;
      margin: 10px auto;
      color: white;
    }

    .signup-button {
      padding: 6px;
      width: 220px;
      @include border-radius(5px);
      font-weight: bold;
    }

    input {
      @include border-radius(5px);
    }
  }

}

.share-comment-container {
  position: absolute;
  right: 20px;
  bottom: 50px;
  width: 250px;

  .share-title {
    padding: 10px 0;
  }
}

.or-seperator {
  width: sprites-sprite-width("or-seperator");
  height: sprites-sprite-height("or-seperator");
  @include sprites-sprite("or-seperator");
}

.home-sina-connect-container {
  display: block;
  text-align: center;
}


.supports-list .carousel .item .span3 {
  .img-wrapper {
    overflow: hidden;
    img {
      height: auto;
    }
  }
}

.col4-carousel.project-carousel {
  height: auto;
  margin-bottom: 33px;

  .item .span3 {
    height: auto;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: white;
    text-align: left;

    .project-thumb img {
      border: none;
      padding: 0;
      border-radius: 0;
    }

    .project-data {
      div.detail {
        width: 100px;
        float: left;
        padding: 5px 0;
        margin-right: 5px;
        font-size: 12px;
        color: $gray;
      }
    }

    .project-title {
      height: 40px;
      line-height: 20px;

      a.title {
        text-decoration: none;
        display: block;
        float: left;
      }
      div.status {
        float: right;
        background-color: $darkGreen;
        color: $white;
        padding: 0 3px;
        border-radius: 2px;
      }
    }

    .project-description {
      height: 54px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 18px;
      overflow: hidden;
    }

    .project-progress .progress-wrapper .progress {
      margin-bottom: 25px;
    }

    .project-status div.status-detail {
      font-size: 12px;
      line-height: 16px;
      width: 80px;
      float: left;
      &.last {
        width: 50px;
        float: right;
      }
      div.highlight {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 4px;
        color: $darkGreen;
      }
    }
  }
}

