// Place all the styles related to the payment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#donate-amount-select {
  margin-bottom: 30px;

  >li {
    float: left;
    margin-left: 5px;

    label.amount-text {
      cursor: pointer;
      display: inline-block;
    }
  }
}

ul#payment-select {
  margin-bottom: 30px;

  >li {
    float:left;
    position: relative;
    margin-bottom: 20px;

    div.payment-logo {
      display: inline-block;
      border: 1px solid #aaaaaa;
      padding: 1px;

      img {
        width: 147px;
        height: 37px;
        cursor: pointer;
      }
    }
    &.select {
      div.payment-logo {
        border: 2px solid #FF6600;
        padding: 0px;
      }
    }
  }
}

