// Place all the styles related to the payment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.payment-page {
  padding-top: $nav-bar-height;

  div.page-left {
    float: left;
    width: 650px;
  }

  div.page-right {
    float: right;
    width: 250px;
  }

  h1 {
    font-size: 25px;
    color: $darkBlue;
  }

  h2 {
    font-size: 15px;
    line-height: 20px;
    color: $gray;
  }

  h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: $gray;
  }

  div.selector-wrapper {
    border: 1px solid #aaa;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  div.project-desc-wrapper {
    border: 1px solid #aaa;
    padding: 15px;
    border-radius: 4px;
    margin-top: 29px;

    div.project-thumbnail {
      img {
        margin-bottom: 5px;
      }

      a {
        font-size: 16px;
        color: #1E5DA7;
      }

      a:hover {
        color: #97A9F8 ;
        text-decoration: none;
      }
    }

    .desc-content {
      padding-top: 5px;
      .col1 {
        padding-right: 5px;
        text-align: right;
      }
    }

    div.project-progress {
      .progress {
        top: 3px;
        margin-bottom: 1px;
        div.progress-text-container {
          line-height: 15px;
        }
      }
      margin-bottom: 5px;
    }

    div.project-desc {
      color: $gray;
    }

  }

  ul#donate-amount-select {
    margin-bottom: 5px;
    >li {
      float: left;
      margin-right: 30px;
      min-width: 144px;
      height: 30px;
      line-height: 30px;

      input {
        margin: 0 0;
      }

      input#input_amount {
        width: 128px;
        height: 13px;
      }

      label.amount-text {
        cursor: pointer;
        display: inline-block;
      }
    }
  }

  ul#payment-select {
    >li {
      float:left;
      position: relative;
      margin-bottom: 15px;
      margin-right: 30px;

      input {
        margin: 0 0;
      }

      div.payment-logo {
        display: inline-block;
        border: 1px solid #aaaaaa;
        padding: 1px;

        img {
          width: 123px;
          height: 30px;
          cursor: pointer;
        }
      }
      &.select {
        div.payment-logo {
          border: 2px solid $darkBlue;
          padding: 0px;
        }
      }
    }
  }
}
