.progress {
  height: 14px;
  display: inline-block;

  .progress-text-container {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    color: $gray;
    line-height: 15px;
  }
}
