.head-desc-container {
  padding: 10px 55px 10px;
  font-size: 15px;
  position: relative;

  .desc-left {
    float: left;
    .desc-content {
      vertical-align: middle;
      margin-top: 13px;
    }
    .separator {
      padding: 0 20px;
    }
  }

  .desc-right {
    margin-top: 50px;
    float: right;
    .followed {
      text-align: right;
      font-size: 13px;
      color: #ddd;

      img.sina-logo {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        position: relative;
        top: -2px;
      }
    }

    .buttons {
      margin-top: 9px;
      .button {
        margin-left: 24px;
        width: 175px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        color: white;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }

        &.donate {
          @include sprites-sprite('donate-button');
          &:hover {
            @include sprites-sprite('donate-button-hover');
          }
        }

        &.follow {
          @include sprites-sprite('notice-button');
          &:hover, &.loading {
            @include sprites-sprite('notice-button-hover');
          }
        }
      }
    }
  }

  .profile-content {
    margin-top: -20px;
    border-top: transparent;
  }

  .field-content {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
  }

  .form-horizontal {
    margin-bottom: 0px;
    .control-group {
      margin-bottom: 5px;
    }
  }
}

h1 {
  font-size: 20px;
  margin: 13px 0;
}

.description {
  font-size: 13px;
  margin-bottom: 32px;
}


.donated-users {
  margin-bottom: 30px;
  li {
    float: left;
    margin-right: 22px;

    .user-thumb-photo {
      img {
        width: 50px;
        height: 50px;
      }
    }

    .user-thumb-name {
      font-size: 10px;
      text-align: center;
    }
  }
}

img.project-thumb-small {
  width: 80px;
  height: 60px;
}
