.masterhead {
  background: #1c1c1c;
}

.head-desc-container {
  margin: 12px 45px 25px;
  font-size: 15px;

  .desc-left {
    float: left;
    .desc-content {
      vertical-align: middle;
      margin-top: 13px;
    }
  }

  .desc-right {
    margin-top: 50px;
    float: right;
    .noticed {
      text-align: right;
      font-size: 13px;
      color: #BBBBBB;
    }

    .buttons {
      margin-top: 9px;
      .button {
        margin-left: 24px;
        width: 175px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        color: white;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }

        &.donate {
          @include sprites-sprite('donate-button');
          &:hover {
            @include sprites-sprite('donate-button-hover');
          }
        }

        &.notice {
          @include sprites-sprite('notice-button');
          &:hover {
            @include sprites-sprite('notice-button-hover');
          }
        }
      }
    }
  }

  .profile-content {
    margin-top: -20px;
    border-top: transparent;
  }

  .field-content {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
  }

  .form-horizontal {
    margin-bottom: 0px;
    .control-group {
      margin-bottom: 5px;
    }
  }
}

h1 {
  font-size: 20px;
  margin: 13px 0;
}

.description {
  font-size: 13px;
  margin-bottom: 32px;
}


.donated-users {
  margin-bottom: 30px;
  li {
    float: left;
    margin-right: 22px;

    .user-thumb-photo {
      img {
        width: 64px;
        height: 64px;
      }
    }

    .user-thumb-name {
      font-size: 10px;
      text-align: center;
    }
  }
}


