$banner-height: 60px;
.nav .user-thumb span {
  line-height: $banner-height - 2px;
  img {
    border: 1px solid #444;
    width: 40px;
    height: 40px;
  }
}
.navbar .nav > li > a {
  padding-top: ($banner-height - 20px)/2;
  padding-bottom: ($banner-height - 20px)/2;
}
.nav li.sina-login {
  a {
    padding-top: ($banner-height - 24px)/2;
    padding-bottom: ($banner-height - 24px)/2;
  }
}

input[type=submit].signin-button, input[type=submit].signup-button {
  @include sprites-sprite("signin");
  width: sprites-sprite-width("signin");
  height: sprites-sprite-height("signin");
  color: #eeffff;
  border: none;
  line-height: 26px;

  &:hover {
    @include sprites-sprite("signin-hover");
  }
}
