.login-with-oauth-container {
  margin-top: 60px;
  padding: 30px;
  border-left: 1px solid #ccc;
}

.with-right-border {
  border-right: 1px solid #ccc;
}

.signup-page {
  .form-horizontal {
    .control-label {
      width: 60px;
    }
    .controls {
      margin-left: 80px;
    }
    .signup-button {
      font-size: 15px;
      padding: 4px 15px;
    }
    .signup-input {
      width: 246px;
    }
  }
}
