$sprites-gray-bg-60-repeat: repeat-x;
$sprites-black-bg-60-repeat: repeat-x;
$sprites-head-bg-repeat: repeat-x;
$sprites-progress-bar-bg-repeat: repeat-x;
$sprites-footer-bg-repeat: repeat-x;
@import "sprites/*.png";
