.static-page {
  margin-bottom: 40px;
  h1 {
    font-size: 20px;
  }
  h1, h2 {
    line-height: 2em;
    color: $darkGreen;
    margin: 1.5em 0 0.5em;
  }
}
.terms {
  p {
    text-indent: 2em;
  }
}
.faq {
  .qsection {
    margin-bottom: 10px;
    .question {
      color: $gray;
      cursor: pointer;
      margin-bottom: 3px;
      height: sprites-sprite-height("collapse-closed");
      line-height: sprites-sprite-height("collapse-closed");
      padding-left: sprites-sprite-width("collapse-closed") + 10px;
      @include sprites-sprite("collapse-closed");
      &:hover {
        color: $darkGreen;
        @include sprites-sprite("collapse-closed-hover");
      }
    }
    .question-open {
      @include sprites-sprite("collapse-open");
      &:hover {
        @include sprites-sprite("collapse-open-hover");
      }
    }
  }
}

body.about {
  background-image: none;
  overflow: hidden;
  #head-about-carousel {
    .item {
      position: absolute;
      width: 1000px;
    }
  }
  $nav-container-width: sprites-sprite-width("circle-right") + sprites-sprite-width("circle-left") + 10px;
  .nav-wrapper {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: $nav-container-width;
  }
  .nav-container {
    position: relative;
    left: - $nav-container-width / 2;
  }
  .next {
    cursor: pointer;
    float: left;
    .control {
      margin-left: 10px;
      width: sprites-sprite-width("circle-right");
      height: sprites-sprite-height("circle-right");
      @include sprites-sprite("circle-right");
      &:hover {
        @include sprites-sprite("circle-right-hover");
      }
    }
  }
  .prev {
    cursor: pointer;
    float: left;
    .control {
      width: sprites-sprite-width("circle-left");
      height: sprites-sprite-height("circle-left");
      @include sprites-sprite("circle-left");
      &:hover {
        @include sprites-sprite("circle-left-hover");
      }
    }
  }
  #footer {
    display: none;
  }
  /* hide the login nav for now */
  #login-nav {
    display: none;
  }
}

#cunxin-weixin-larger-container {
  width: 450px;
  text-align: center;
  margin-left: -225px;
  overflow: visible;
  .close-button {
    cursor: pointer;
    width: sprites-sprite-width("fancy-close");
    height: sprites-sprite-height("fancy-close");
    @include sprites-sprite("fancy-close");
    position: absolute;
    right: -15px;
    top: -15px;
  }
}

.aboutus {
  .item {
    .contact-info {
      position: absolute;
      top: 272;
      left: 92px;

      .info-item {
        width: 212px;
        min-height: 100px;
        float: left;
        text-align: center;
      }

      #about-sina-weibo {
        img {
          padding-bottom: 5px;
        }
        .sina-weibo-follow-container {
          padding-left: 78px;
          text-align: left;
        }
      }

      #about-weixin {
        img {
          padding-bottom: 10px;
        }
      }

      #about-email {
        padding-top: 30px;
      }
    }
  }
}

.contact {
  h2 {
    color: $gray;
  }
  .contact-info {
    width: 600px;
    margin: auto;
  }
  .info-item {
    text-align: center;
  }
  .sina-weibo-follow-container {
    width: 64px;
    margin: 10px auto;
  }
  .weixin-number-container {
    margin: 10px auto;
  }
  .email-container {
    margin-top: 50px;
  }
}
