.support-page {
  .header {
    margin-bottom: 50px;
    .support-btn-wrapper {
      position: absolute;
      bottom: 60px;
      left: 450px;
    }
  }

  div.content {
    border: solid 1px #ccc;
    margin: 0 0 50px;
    .pic-block {
      border-bottom: dashed 1px #ccc;
      padding: 0 10px 20px;
      margin-bottom: 20px;
      text-align: center;
      div.pic-desc {
        text-align: left;
        padding: 15px 55px 10px;
        line-height: 22px;
      }
    }
  }
}
