<p>亲爱的<%= @resource.name %>, 您好!</p>

<p>欢迎使用寸心公益找回密码功能。请点击一下链接重置您的密码（30分钟有效）：</p>

<%- url = edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) -%>
<p><%= link_to url, url %></p>

<p>如果您没有申请找回密码，请忽略此邮件。</p>
