<div class='masterhead'>
  <div class='container'>
    <div id="head-carousel" class="carousel head-carousel">
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag @contributor.thumbnail_large %>
          <div class="carousel-description">
            <%= content_tag :h3, t("contributors.introduction") %>
            <%= content_tag :div, @contributor.short_description %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

