<div id='footer' class='footer'>
  <div class='footer-inner container'>
    <div class='footer-links'>
      <% t("footer.links").each_with_index do |item, i| -%>
        <% if i != 0 -%>
          <span class="separator"></span>
        <% end -%>
        <span> <%= link_to item["caption"], item["link"] %> </span>
      <% end -%>
    </div>
    <div class='copyright-container container'>
      <%= content_tag :span, t("footer.copyright"), :class => 'copyright' %>
    </div>
  </div>
</div>
